<div class="container ">
    <div class="row d-flex align-items-center min-vh-100">
        <div class="col-md-6 col-md-offset-3 mx-auto" id="log-sign">
            <br>
            <h2>Welcome to Project 2!</h2>
            <form class="signup-form">
                <div class="form-group">
                    <label for="exampleInputFirstName1">First name</label>
                    <input type="text" class="form-control" id="first-name-input" placeholder="Music">
                </div>
                <div class="form-group">
                    <label for="exampleInputLastName1">Last name</label>
                    <input type="text" class="form-control" id="last-name-input" placeholder="Lover">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="musiclover@musiclover.com">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <br>
                <button type="submit" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Sign Up</button>
            </form>
            <br />
            <p>Already have an account? Click<button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"> <a href="/">here</a> </button>to login!</p>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>